html, body, input {
  font-family: Palatino;
  font-size: 16pt;
  text-align: center;
}

body {
  display: inline-block;
  width: 90%; /* Use most of the screen real estate on phones */
  text-align: left;
  max-width: 40em; /* Don’t get too wide on large-screen devices */
}

p {
  line-height: 150%;
  padding: 0 10px;
}

#warning {
  border: 2px groove red;
  padding: 1em;
  border-radius: 20px;
  margin: 2em 0;
}

#warning p {
  padding: 0;
}

ol, footer ul {
  list-style: none;
  padding: 0;
}

#today_things {
  font-size: 115%;
  text-align: left;
}

#today_things li {
  margin-top: 20px;
}

.thing_text {
  display: inline;
  width: 90%;
  /* Setting the height to 2.5em seems to ensure that if there are 3 lines, the very top of the
     third line is visible, so the user knows that there *is* a third line. */
  height: 2.5em;
  border: none;
  font-family: inherit;
  font-size: inherit;
  vertical-align: top;
  resize: none;
}

#today_things input[type=checkbox] {
  display: inline;
  vertical-align: middle;
}

.completed {
  text-decoration: line-through;
}

details > details {
  margin-left: 20px;
}

#secondary_features {
  margin: 80px 0 40px 0;
}

footer {
  font-size: 10pt;
}

footer li {
  display: inline-block;
  margin-right: 1em;
}

#secondary_features textarea {
  display: block;
  width: 100%;
  font-family: monospace;
  font-size: 10pt;
}

#import label {
  display: block;
  font-size: 12pt;
}
