html, body, input {
  font-family: Palatino, Cambria;
  font-size: 16pt;
  text-align: center;
}

body {
  display: inline-block;
  width: 90%; /* Use most of the screen real estate on phones */
  text-align: left;
  max-width: 40em; /* Don’t get too wide on large-screen devices */
}

p {
  line-height: 150%;
  padding: 0 10px;
}

.warning {
  display: none;
  border: 2px groove red;
  padding: 1em;
  border-radius: 20px;
  margin: 2em 0;
}

#warning p {
  padding: 0;
}

label.help {
  display: block;
  font-size: smaller;
  margin: 5px 0;
}

ol#today_things, footer ul {
  list-style: none;
  padding: 0;
}

#today_things {
  font-size: 115%;
  text-align: left;
  margin-top: 2em;
}

#today_things li {
  margin-top: 20px;
}

.thing_text {
  display: inline;
  width: 90%;
  border: none;
  font-family: inherit;
  font-size: 18pt;
  vertical-align: top;

  /* I have nothing against resizeable textareas; in fact I prefer them. However when a textarea
     has no border, like these, the handles just look really odd (at least in Chrome/Mac) just
     hanging out there in space. */
  resize: none;

  /* The auto-resize feature depends on these rules. */
  padding: 0;
  min-height: 20pt;
}

.thing_text:focus {
  /* When the textareas have focus, they have a border (the focus border), so the resize handles
     don’t look strange. And they’re useful, so let’s bring them back. */
  resize: both;
}

#today_things input[type=checkbox] {
  display: inline;
  vertical-align: top;
  margin: 5px 10px 0 0;
}

.completed {
  text-decoration: line-through;
}

details > details {
  margin-left: 20px;
}

#prior {
  margin: 80px 0 40px 0;
}

footer {
  font-size: 10pt;
}

footer li {
  display: inline-block;
  margin-right: 1em;
}

.data {
  margin: 2em 0;
}

.data textarea {
  display: block;
  width: 100%;
  font-family: monospace;
  font-size: 10pt;
}

#import label {
  display: block;
  font-size: 12pt;
}
