html, body, input {
  font-family: Palatino;
  font-size: 16pt;
  text-align: center;
}

body {
  display: inline-block;
  text-align: left;
  min-width: 32em;
  max-width: 40em;
}

p {
  line-height: 150%;
  padding: 0 2em;
}

#warning {
  border: 2px groove red;
  padding: 1em;
  border-radius: 20px;
  margin: 2em 0;
}

#warning p {
  padding: 0;
}

ol, footer ul {
  list-style: none;
  padding: 0;
}

li {
  margin-top: 10px;
}

input[type="text"] {
  text-align: left;
  border: none;
  width: 90%;
  font-size: 115%;
}

.completed {
  text-decoration: line-through;
}

details > details {
  margin-left: 20px;
}

#section_prior_import_export {
  margin: 50px 0;
}

footer {
  font-size: 10pt;
}

footer li {
  display: inline-block;
  margin-right: 1em;
}

textarea {
  display: block;
  width: 100%;
  font-family: monospace;
  font-size: 10pt;
}

label {
  display: block;
}
